<div class="row xs-ml-10 sm-mb-10">
    <div class="col-xs-24 xs-pl-0">
        <span class="sub-heading"></span>
    </div>
</div>
<div class="row xs-mt-5 xs-ml-5 hidden-print">
      <div class="col-md-12 hidden-xs" style="margin-top:-4px;">
        {{!-- <a class="btn btn-info xs-mr-10 js-downloadBtn disabled xs-mb-10" data-name="invoices_batch_download" href="javascript:void(0);">
        <i class="fa fa-download xs-pr-5" aria-hidden="true"></i> {{globalVars.downloadSelected}}</a>
        <a class="btn btn-info xs-mr-10 js-printBtn disabled xs-mb-10" href="javascript:void(0);">
        <i class="fa fa-print xs-pr-5" aria-hidden="true"></i> {{globalVars.printSelected}}</a> --}}

      </div>
      {{!-- <div class="col-md-12 col-xs-24">
        <div class="row">
          <div class="col-xs-24 col-sm-8 invoiceFound text-right">
            <span class="xs-ml-0">{{globalVars.invoicesFoundVar}}</span>
          </div>
          <div class="col-xs-24 col-sm-16">
            <div class="js-sortbyDdn form-group pull-right">
            </div>
          </div>
        </div>
      </div> --}}
</div>
<div class="row tableContainer">
    <div class="col-xs-24">
        <table id="table" class="tableAsmDetails"></table>
    </div>
    <div class="row">
        <div class="col-md-3 pull-left text-left xs-mt-10" style="margin-left:5px;"> <!-- pull-right -->
            <button class="btn btn-default js-view-recentlyUsed">View Recently Used</button>
        </div>
    </div>
</div>
