<div class="row">
    <div class="col-xs-24">
        <span style="font-style:italic; font-size:12px; color:#999999">{{globalVars.resultsCountTemp}}</span>
    </div>
    
    <div class="sub-heading hidden-sm hidden-xs recenlyUsedCaption xs-mt-25">
	     recently used
	     <span class="fa fa-close visible-md-inline"></span>
	 </div>
</div>
