<div id="asmSearchToggle"></div>

<div class="col-xs-24 col-sm-24 xs-mt-10">
    <div class="form-group">
        <div class="col-xs-24 col-sm-24 xs-p-0">
            <input type="text" maxlength="35" name="searchUserAccount" class="form-control js-asmPage-searchUserAccount col-xs-20" placeholder="User ID, First & Last Name or E-mail" value="" />
        </div>
    </div>
</div>

<div class="col-xs-24 col-sm-24">
    <hr/>
</div>

<div class='sub-heading hidden-xs'>
    {{globalVars.advancedSearchCaption}}
</div>

<div class="col-xs-24 col-sm-24 xs-mt-15">
    <div class="form-group">
        <div class="col-xs-24 col-sm-24 xs-p-0 js-businessRegion-dropdown">
        </div>
    </div>
</div>

<div class="col-xs-24 col-sm-24 xs-mt-15">
    <div class="form-group">
        <div class="col-xs-24 col-sm-24 xs-p-0 js-businessType-dropdown">
        </div>
    </div>
</div>

<div class="col-xs-24 col-sm-24 xs-mt-15">
    <div class="form-group">
        <div class="col-xs-24 col-sm-24 xs-p-0 js-businessUinit-dropdown">
        </div>
    </div>
</div>

<div class="col-xs-24 col-sm-24 xs-mt-15 xs-mb-20">
    <div class="form-group">
        <div class="col-xs-24 col-sm-24 xs-p-0 js-permissions-dropdown">
        </div>
    </div>
</div>



<div class="form-group xs-pt-20">
    <button type="button" class="btn btn-primary btn-block" id="asmSearch" name="button">{{globalVars.searchTxt}}</button>
</div>
