<div class="xs-mb-15">
    <div class='js-account-ddn form-group'>
    </div>

    <div class='js-year-ddn form-group input-width-144'>
    </div>

    <div class='js-qtr-ddn form-group input-width-144'>
    </div>

    <div class='js-download-status-ddn form-group input-width-144 hidden-xs'>
    </div>
</div>

<div>
    <button type="button" id="searchBtn" class="btn btn-primary btn-block">Search</button>
</div>
