<div class="row tableContainer prog-detail-table">
    <div class="col-xs-24">
        <table id="table"></table>
    </div>
    <div class="col-xs-24 xs-mt-20 progReturnView">
      <a href="#">{{globalVars.progReturnView}}</a>
    </div>
</div>
