<!-- <div class="row xs-ml-10 sm-mb-10">
    <div class="col-xs-24 xs-pl-0">
        <span class="sub-heading">{{globalVars.invoicesDetail}}</span>
    </div>
</div> -->
<div class="row xs-mt-5 xs-ml-5 hidden-print">
      {{!-- <div class="col-md-7 xs-mt-15 sm-mt-0 hidden-xs">
        <a class="btn btn-info xs-mr-10 js-downloadBtn xs-mb-10 disabled hidden-xs" data-name="eft_batch_download" href="javascript:void(0);">
             <i class="fa fa-download xs-pr-5" aria-hidden="true"></i> {{globalVars.downloadSelected}}
        </a>
        <a class="btn btn-info xs-mr-10 js-printBtn xs-mb-10 disabled hidden-xs" href="javascript:void(0);">
             <i class="fa fa-print xs-pr-5" aria-hidden="true"></i> {{globalVars.print}}
        </a>
      </div> --}}
      <div class="col-xs-24">
        <div class="js-sortbyDdn form-group pull-right"></div>          
      </div>
</div>
<div class="row tableContainer">
    <div class="col-xs-24">
        <table id="priceNoticeType"></table>
    </div>
</div>
