<div class="row">
    <div class="col-xs-12">
        <span class="sub-heading-thin">{{globalVars.pricenoticesSummary}}</span>
    </div>
    <div class="col-xs-12">
        <span class="sub-heading-thin set-default">{{globalVars.pricenoticesDefault}}</span>
    </div>
</div>
<div class="row">
    <div class="col-xs-13">
        <div class="row xs-mt-10">
            <div class="col-xs-24">
               <span>{{globalVars.publishedDate}}</span>
            </div>
        </div>
        <div class="row xs-mt-10">
            <div class="col-xs-24 text-primary">
                <i>{{globalVars.summaryfromAndToVar}}</i>
            </div>
        </div>
    </div>
   
</div>