
<div class="col-xs-24 col-sm-24 xs-pl-0 xs-pr-0 xs-pt-10 xs-pb-10 md-p-0 basicToggle">
   <div class="col-xs-24 col-sm-24 xs-pl-0 xs-pr-0">
        <div class="form-group xs-mt-10">
            <div class="col-xs-24 xs-pl-0 xs-pr-0 col-sm-24 xs-p-0">
                <div class='js-search-pickDateRange form-group'></div>
            </div>
        </div>
    </div>
</div>
<div class="form-group xs-pt-20">
    <button type="button" class="btn btn-primary btn-block" id="priceNoticesSearch" name="button">{{globalVars.searchTxt}}</button>
</div>


