<div class='row xs-m-0 position-relative'>
    <div class="overlay-wrapper">
    </div>
    <div class='col-md-1 left-pane visible-md-inline-block search-collapse text-center'>
        <div class='search-content'>
            <span class='fa fa-sliders'></span>
        </div>
    </div>
    <div class='col-md-5 left-pane hidden-md search'>
        <div class='search-content'>
            <div class='sub-heading hidden-sm hidden-xs'>
                view
                <span class='fa fa-close visible-md-inline'></span>
            </div>
            <div class='sub-heading hidden-lg hidden-md toggle-search-mobile'>
                <span class='fa fa-sliders'></span> Search
                <span class='fa fa-chevron-down pull-right'></span>
            </div>
            <div class='search-form xs-mt-10 js-search-form'>
            </div>
        </div>
    </div>
    <div class='col-md-23 col-lg-19 right-pane'>
        <div class='top-summary js-price-notices-summary'>
        </div>
        <div class='bottom-detail js-bottom-detail'>
        </div>
    </div>
</div>