<div class="row tableContainer">
    <div class="col-xs-24 md-mb-15 xs-mb-15">
      <span class="sub-heading">{{globalVars.userAddNewCaption}}</span>
    </div>
    <div class="col-xs-24">
      <div class="row soldToHeader">
          <div class="col-md-1 xs-hidden sm-hidden">&nbsp;</div>
          <div class="col-md-22 col-xs-24">Sold To</div>
      </div>
      <div class="row">
          <div class="row rowIterator">
            <div class="col-md-1 iconContainerForRow md-mr-5 xs-mr-5">
                <div class="col-md-4 fa fa-chevron-down soldToicon down active md-ml-10 xs-ml-10"></div>
                <div class="col-md-4 fa fa-chevron-up soldToicon up md-ml-10 xs-ml-10"></div>
            </div>
            <div class="col-md-20 md-mr-2 xs-mr-2">
              <div class="checkbox soldToSelectorCheckbox">
                <input type="checkbox" name="soldtoSelctor" id="soldtoSelctor"/>
                <label for="soldtoSelctor">6227166 - Redwood Oil Co. Inc. 50 Professional CTR Ds, CA</label>
              </div>
              <div class="row">
                <div class="checkbox soldToSelectorCheckbox">
                  <input type="checkbox" name="soldtoSelctor" id="soldtoSelctor"/>
                  <label for="soldtoSelctor">6227166 - Redwood Oil Co. Inc. 50 Professional CTR Ds, CA</label>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
</div>
