<div class='js-soldTo-ddn form-group md-mb-15'>
</div>

<div class='js-site-ddn form-group md-mb-10'>
</div>

<div class='js-py-ddn form-group'>
</div>

<div class="form-group xs-pt-15">
    <button type="button" class="btn btn-primary btn-block" id="ccsSearchBtn" name="button">{{globalVars.searchTxt}}</button>
</div>
