<div class="col-xs-24 bg-info xs-p-15 summary-print">
    <div class="row">
        <div class="col-xs-24 xs-mb-15 summary-heading">
            <span class="sub-heading">MIIP program view summary</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 xs-mb-15">
            <span><strong>Sold To</strong></span><br/>
            <span>7063485 Cain Petroleum Incorporated, 4512 Sw Kelly Portland, OR 97239, United States</span>
        </div>
        <div class="col-sm-8">
            <span><strong>Site</strong></span><br/>
            <span>209902 Cain Petroleum Incorporated, Glastone, 830 East Berkley, United States</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-24 col-sm-4">
            <span><strong>Site Zone</strong></span><br/>
            <span>4A</span>
        </div>
        <div class="col-xs-24 col-sm-4 xs-mb-15">
            <span><strong>Business Consultant</strong></span><br/>
            <span>Kevin Maloney</span>
        </div>
        <div class="col-xs-24 col-sm-4 xs-mb-15">
            <span><strong>Thruput Method/ Equipment</strong></span><br/>
            <span>R/Wincor Beetle MI</span>
        </div>
        <div class="col-xs-24 col-sm-4 xs-mb-15">
            <span><strong>Brand</strong></span><br/>
            <span>Chevron</span>
        </div>
        <div class="col-xs-24 col-sm-8 xs-mb-15">
            {{#if programView}}
                <div class="text-right">
                    <div class="md-pb-10">
                        <span><strong>Total Paid (USD)</strong></span><span class="xs-ml-15">4,167,651</span>
                    </div>
                    <div>
                        <span><strong>Estimated Repayment Amount (USD)</strong></span><span class="xs-ml-15 ">701,936</span>
                    </div>
                </div>
            {{else}}
                <div class="text-right">
                    <div class="md-pb-10">
                        <span><strong>Total RUL (GA)</strong></span><span class="xs-ml-15">856,724</span>
                    </div>
                    <div class="md-pb-10">
                        <span><strong>Total MUL (GA)</strong></span><span class="xs-ml-15">4,167,651</span>
                    </div>
                    <div class="md-pb-10">
                        <span><strong>Total PUL (GA)</strong></span><span class="xs-ml-15">701,936</span>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</div>
