<div class="row xs-mb-5">
    <div class="col-xs-12">
        <button class="btn btn-info xs-pl-20 xs-pr-20 hidden-xs hidden-sm hidden-md" id="printBtn"><i class="fa fa-print xs-pr-5" aria-hidden="true"></i> Print</button>
    </div>
    <div class="col-xs-12">
        <div class="js-sortbyDdn form-group pull-right">
        </div>
    </div>
</div>
<div class="row xs-mb-15">
    <div class="col-xs-24">
        <table id="programTable"></table>
    </div>
</div>
<div class="row">
    <div class="col-xs-24">
        <a href="">Return to Site View</a>
    </div>
</div>