<div class="col-xs-24">
    <div class="content-tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#programview" aria-controls="programview" role="tab" data-toggle="tab" class="text-lowercase">{{this.programTabTitle}}</a>
            </li>
            <li role="presentation">
                <a href="#volumeview" aria-controls="volumeview" role="tab" data-toggle="tab" class="text-lowercase">{{this.volumeTabTitle}}</a>
            </li>
        </ul>

        <div class="tab-content xs-pt-15">
            <div role="tabpanel" class="tab-pane active" id="programview">
                <div class="js-program-view">
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="volumeview">
                <div class="js-volume-view">
                </div>
            </div>
        </div>
    </div>
</div>
