<div class="modal fade" id="addSalesModal" tabindex="-1" role="dialog" aria-labelledby="addSalesModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addSalesModalLabel">Add New Sales Month Volume</h4>
            </div>
            <div class="modal-body">
                <table data-toggle="table" id="addSalesTable">
                    <thead>
                        <tr>
                            <th>Sales Month</th>
                            <th>RUL(GA)</th>
                            <th>MUL(GA)</th>
                            <th>PUL(GA)</th>
                            <th>Total (GA)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" class="form-control pull-left xs-mr-5 sales-popup-input-text-small" placeholder="MM"> 
                                <input type="text" class="form-control sales-popup-input-text-medium" placeholder="YYYY">
                            </td>
                            <td><input type="text" class="form-control sales-popup-input-text-large"></td>
                            <td><input type="text" class="form-control sales-popup-input-text-large"></td>
                            <td><input type="text" class="form-control sales-popup-input-text-large"></td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn clos-btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary save-btn">Save</button>
            </div>
        </div>
    </div>
</div>