<div class="row xs-mb-5">
    <div class="col-lg-4 col-md-5 col-xs-24">
        <button class="btn btn-primary xs-pl-25 xs-pr-25" data-toggle="modal" data-target="#addSalesModal">
            <span class="fa fa-plus-square-o"></span>
             Add New Sales Month Volume
        </button>
        {{!-- <span class="result-count display-desktop">20 result(s) found</span> --}}
    </div>
    <div class="col-lg-20 col-md-19 col-xs-24 xs-pt-15 md-pt-0">
        <!--<span class="result-count">20 result(s) found</span>-->
        <div class="js-miip-sortbyDdn-volume form-group pull-right">
        </div>
    </div>
</div>
<div class="row xs-mb-15">
    <div class="col-xs-24">
        <table id="volumeTable"></table>
    </div>
</div>
<div class="row">
    <div class="col-xs-24">
        <a href="{{globalUrl.miipSiteViewURL}}">{{globalVars.returnToSiteView}}</a>
    </div>
</div>
