<div class="footer">
    <div class="text-center">
        <div>
            © 2001-2016 Chevron Corporation. All rights reserved.
        </div>
        <ul>
            <li>
                <a href="#">Terms of Use</a>
            </li>
            <li>
            </li>
            <li>
                <a href="#">Privacy Statement</a>
            </li>
            <li>
            </li>
            <li>
                <a href="#">Contact Us</a>
            </li>
        </ul>
    </div>
</div>
