<div class="bg-forms inquiry-type-container xs-mt-15 xs-p-15">   
    <span> {{globalVars.formDesc}} </span>
    <div class="row xs-pt-15">
        <div class="col-md-4 col-xs-24">
            <div class="row">
                <div class="col-xs-24">
                    <label for="stationAccount">
                    {{globalVars.eftInquiry.stationAccountLabel}}
                    </label> <br/>           
                    <input type="text" id="stationAccount" name="stationAccount" class="input-field-style input-element" data-parsley-required="" data-parsley-trigger="focusout" />     
                </div>                
            </div>
            <div class="row xs-mt-15">
                <div class="col-xs-24">
                    <label for="eftInvoiceNo">
                    {{globalVars.eftInquiry.eftInvoiceLabel}}
                    </label> <br/>  
                    <span id="eftInvoiceNo"> 
                        <input type="text" id="eftInvoiceNoText" name="eftInvoiceNoText" class="input-field-style input-element" data-parsley-required="" data-parsley-trigger="focusout" />  
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-24 xs-mt-15 md-mt-0">
            <label for="reason">
                {{globalVars.eftInquiry.reasonLabel}}
            </label> <br/>  
            <span id="reason">     
                <textarea name="reasonText" id="reasonText" class="textarea-style input-element" data-parsley-required="" data-parsley-trigger="focusout" ></textarea>                         
            </span>
        </div>
    </div>        
</div>