<div class="row">
    <div class='js-location-ddn form-group'>
    </div>
    <div class='js-site-ddn form-group'>
    </div>

    <div class="form-group xs-pt-20">
        <button type="button" class="btn btn-primary btn-block" id="siteOperatingSearch" name="button">{{globalVars.searchTxt}}</button>
    </div>

    <div class="col-xs-24 col-sm-24">
        <hr/>
    </div>

    <div class="col-xs-24 col-sm-24 note-data">
        <span>
            <strong>Note: </strong>Data based on the first and last credit card transactions at a site. 
        </span>
    </div>
</div>