<div class="col-xs-24 col-md-24">
    <div class="col-xs-24 col-md-8">
        <label for="userIdText">
            User ID
        </label> <br/>
        <span id="userIdText">
            JVANALYEA
        </span>
    </div>

    <div class="col-xs-24 col-md-8">
        <label for="userIdText">
            User ID
        </label> <br/>
        <span id="userIdText">
            JVANALYEA
        </span>
    </div>

    <div class="col-xs-24 col-md-8">
        <label for="userIdText">
            User ID
        </label> <br/>
        <span id="userIdText">
            JVANALYEA
        </span>
    </div>
</div>