<div class="row xs-mt-0 xs-ml-0 sm-mb-15">
    <div class="col-xs-8 col-md-12 xs-pl-0">
         <button class="btn btn-primary xs-mr-10 xs-mb-10"> {{globalVars.addUser}}</button>
        <span class="xs-ml-0 md-ml-5 xs-mt-5 xs-mb-5">
            <i class="result-count">{{cmData.userSearchViewData.searchResults.usersList.length}} {{globalVars.userResultCount}}</i>
        </span>
    </div>
    <div class="col-xs-16 col-md-12">
        <div class="js-sortbyDdn form-group pull-right">
        </div>
    </div>
</div>
 
    
<div class="row tableContainer">
    <div class="col-xs-24">
        <table id="table"></table>
    </div>
</div>
