<div class='js-parentSoldTo-ddn form-group'>
</div>

<div class="form-group">
    <label for="userId">{{globalVars.mrCompany}}</label>
    <input type="text" class="form-control em-10" id="userId" placeholder="">
</div>


<div class='js-assignedSites-ddn form-group'>
</div>

<div class='js-mrStatus-ddn form-group'>
</div>

<div class="form-group xs-pt-20">
    <button type="button" class="btn btn-primary btn-block" id="mrSearch" name="button">{{globalVars.searchTxt}}</button>
</div>



