<div class='js-location-ddn form-group'>
</div>
<div class='js-account-ddn form-group'>
</div>
<div class='js-search-pickDateRange form-group'>
</div>

<div class="form-group">
    <label for="billOfLading">{{globalVars.billOfLading}}</label>
    <input type="text" class="form-control" id="billOfLading" placeholder="">
</div>

<div class='js-downloadStatus-ddn form-group'>
</div>

<div class='js-printStatus-ddn form-group'>
</div>

<div class="form-group xs-pt-20">
    <button type="button" class="btn btn-primary btn-block" id="delDocsSearch" name="button">{{globalVars.searchTxt}}</button>
</div>
