<div class="nav-middle">
	<div class="sm-navigation">
		<!--removed from bottom class="container" -->
		<div>
			<div class="row">
				<div class="col-xs-19 visible-xs visible-sm mobile-menu">
					<!-- TODO: Add  here for mobile -->
					<a class="navbar-brand" href="/index.html">
						<img alt="Brand" src="/assets/images/logo.png">
						<span>business point</span>
					</a>
				</div>
				<div class="col-xs-4 pull-right visible-xs visible-sm mobile-menu hidden-print">
					<button class="btn js-toggle-sm-navigation fa fa-bars" type="button">
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="nav-bottom">
	<!--  removed container class for above div-->
	<nav class="main-navigation js-enquire-offcanvas-navigation" role="navigation">
		<div class="row show-inline">
			<div class="col-xs-18 col-md-24 xs-p-0">
				<a class="navbar-brand" href="/index.html">
					<img alt="Brand" src="/assets/images/logo.png">
					<span>business point</span>
				</a>
			</div>
			<div class="col-xs-4 pull-right visible-xs visible-sm hidden-print">
				<button type="button" class="js-toggle-sm-navigation btn visible-xs visible-sm fa fa-close">
				</button>
			</div>
		</div>
		<div class="visible-xs visible-sm hidden-print">
			<div class="search-box">
				<form method="get" action="/app/page/content-search/search-results.html" id="mainNavSearch">
					<div class="form-group xs-mb-0">
						<input placeholder="what can we help you find?" class="form-control txt-search-box" type="text" name="search" autocomplete="off">
						<button class="btn fa fa-arrow-right" type="submit" role="button"></button>
					</div>
				</form>
			</div>
		</div>
		<ul class="nav nav-pills js-offcanvas-links pull-right hidden-print">
			<li class="auto has-sub js-enquire-has-sub">
				<a href="#">transactions</a>
				<div class="sub-navigation">
					<!-- removed from top col-md-24 col-lg-16 -->
					<a class="sm-back js-enquire-sub-close" href="#">Back to main menu</a>
					<div class="row">
						<div class="sub-navigation-section">
							<div class="title">Lubricants Orders</div>
							<ul class="sub-navigation-list has-title">
								<li>
									<a href="/app/page/view-cart/view-cart.html">Order Lubricants</a></li>
								<li>
									<a href="/app/page/order-history/order-history.html">Order History</a></li>
							</ul>

						</div>
						<div class="sub-navigation-section">
							<div class="title">Marketer Served Accounts</div>
							<ul class="sub-navigation-list has-title">
								<li>
									<a href="/app/page/msa-delivery-request-list/msa-delivery-request-list.html">MSA List</a></li>
								<li>
									<a href="/app/page/msa-delivery-confirmation/msa-delivery-confirmation.html">MSA Entry</a></li>
								<li>
									<a href="#">MSA Upload</a></li>
							</ul>

						</div>
						<div class="sub-navigation-section">
							<div class="title">Accounting</div>
							<ul class="sub-navigation-list has-title">
								<li>
									<a href="/app/page/invoices/invoices.html">Invoices</a></li>
								<li>
									<a href="/app/page/statement-of-account/statement-of-account.html">Statement of Accounts</a></li>
								<li>
									<a href="/app/page/purchase-volume/purchase-volume.html">Purchase Volume</a></li>
							</ul>

						</div>
					</div>
				</div>
			</li>
			<li class="auto has-sub js-enquire-has-sub">
				<a href="#">marketing</a>
				<div class="sub-navigation">
					<!-- removed from top col-md-24 col-lg-16 -->
					<a class="sm-back js-enquire-sub-close" href="#">Back to main menu</a>
					<div class="row">
						<div class="sub-navigation-section">
							<div class="title">Marketing & Sales Promotions</div>
							<ul class="sub-navigation-list has-title">
								<li>
									<a href="#">Promotions</a></li>
							</ul>
						</div>
						<div class="sub-navigation-section">
							<div class="title">Merchandise</div>
							<ul class="sub-navigation-list has-title">
								<li>
									<a href="#">Retail Product Suppliers & Alliances</a></li>
								<li>
									<a href="#">Supplemental Merchandising Resources</a></li>
							</ul>
						</div>
					</div>
				</div>
			</li>
			<li class="auto has-sub js-enquire-has-sub">
				<a href="#">safety</a>
				<div class="sub-navigation">
					<!-- removed from top col-md-24 col-lg-16 -->
					<a class="sm-back js-enquire-sub-close" href="#">Back to main menu</a>
					<div class="row">
						<div class="sub-navigation-section">
							<div class="title">Hand Tools</div>
							<ul class="sub-navigation-list has-title">
								<li>
									<a href="#">Hand Saws</a></li>
								<li>
									<a href="#">Jigsaws</a></li>
								<li>
									<a href="#">Nut Drivers</a></li>
								<li>
									<a href="#">Rotary Hammers</a></li>
								<li>
									<a href="#">Stripping Tools</a></li>
								<li>
									<a href="#">Punches</a></li>
							</ul>

						</div>
						<div class="sub-navigation-section">
							<div class="title">Footwear</div>
							<ul class="sub-navigation-list has-title">
								<li>
									<a href="#">Men's</a></li>
								<li>
									<a href="#">Women's</a></li>
							</ul>

						</div>
						<div class="sub-navigation-section">
							<div class="title">Hand Tools</div>
							<ul class="sub-navigation-list has-title">
								<li>
									<a href="#">Hand Saws</a></li>
								<li>
									<a href="#">Jigsaws</a></li>
								<li>
									<a href="#">Nut Drivers</a></li>
								<li>
									<a href="#">Rotary Hammers</a></li>
								<li>
									<a href="#">Stripping Tools</a></li>
								<li>
									<a href="#">Punches</a></li>
							</ul>
						</div>
					</div>
				</div>
			</li>
			<li class="auto has-sub js-enquire-has-sub">
				<a href="#">knowledge</a>
				<div class="sub-navigation">
					<!-- removed from top col-md-24 col-lg-16 -->
					<a class="sm-back js-enquire-sub-close" href="#">Back to main menu</a>
					<div class="row">
						<div class="sub-navigation-section">
							<div class="title">Hand Tools</div>
							<ul class="sub-navigation-list has-title">
								<li>
									<a href="#">Hand Saws</a></li>
								<li>
									<a href="#">Jigsaws</a></li>
								<li>
									<a href="#">Nut Drivers</a></li>
								<li>
									<a href="#">Rotary Hammers</a></li>
								<li>
									<a href="#">Stripping Tools</a></li>
								<li>
									<a href="#">Punches</a></li>
							</ul>

						</div>
						<div class="sub-navigation-section">
							<div class="title">Footwear</div>
							<ul class="sub-navigation-list has-title">
								<li>
									<a href="#">Men's</a></li>
								<li>
									<a href="#">Women's</a></li>
							</ul>

						</div>
						<div class="sub-navigation-section">
							<div class="title">Hand Tools</div>
							<ul class="sub-navigation-list has-title">
								<li>
									<a href="#">Hand Saws</a></li>
								<li>
									<a href="#">Jigsaws</a></li>
								<li>
									<a href="#">Nut Drivers</a></li>
								<li>
									<a href="#">Rotary Hammers</a></li>
								<li>
									<a href="#">Stripping Tools</a></li>
								<li>
									<a href="#">Punches</a></li>
							</ul>
						</div>
						<div class="sub-navigation-section">
							<div class="title">Footwear</div>
							<ul class="sub-navigation-list has-title">
								<li>
									<a href="#">Men's</a></li>
								<li>
									<a href="#">Women's</a></li>
							</ul>
						</div>
						<div class="sub-navigation-section">
							<div class="title">Footwear</div>
							<ul class="sub-navigation-list has-title">
								<li>
									<a href="#">Men's</a></li>
								<li>
									<a href="#">Women's</a></li>
							</ul>
						</div>
					</div>
				</div>
			</li>

			<li class="auto has-sub js-enquire-has-sub special-toggle hidden-xs hidden-sm">
				<a href="#" class="menu-icon md-ml-15"><span class="fa fa-search"></span></a>
				<div class="sub-navigation has-search">
					<a class="sm-back js-enquire-sub-close" href="#">Back to main menu</a>
					<div class="search-box">
						<form method="get" action="/app/page/content-search/search-results.html" id="mainNavSearch">
							<div class="form-group xs-mb-0">
								<input placeholder="what can we help you find?" class="form-control txt-search-box" type="text" name="search" autocomplete="off">
								<button class="btn fa fa-arrow-right" type="submit" role="button"></button>
							</div>
						</form>
					</div>
				</div>
			</li>
			<li class="auto has-sub js-enquire-has-sub special-toggle">
				<a href="#" class="menu-icon hidden-xs hidden-sm"><span class="fa fa-question"></span></a>
				<a href="#" class="menu-icon visible-sm visible-xs">Business Point Help</a>
				<div class="sub-navigation">
					<!-- removed from top col-md-24 col-lg-16 -->
					<a class="sm-back js-enquire-sub-close" href="#">Back to main menu</a>
					<div class="row">
						<div class="sub-navigation-section">
							<div class="title hidden-xs hidden-sm ">Business Point Help</div>
							<ul class="sub-navigation-list has-title">
								<li>
									<a href="/app/page/faq/faq.html">Frequently Asked Questions</a></li>
							</ul>

						</div>
					</div>
				</div>
			</li>
			<li class="auto has-sub js-enquire-has-sub special-toggle">
				<a href="#" class="menu-icon hidden-xs hidden-sm"><span class="fa fa-user"></span></a>
				<a href="#" class="menu-icon md-mr-5 visible-sm visible-xs"><span>My Account</span></a>
				<div class="sub-navigation">
					<!-- removed from top col-md-24 col-lg-16 -->
					<a class="sm-back js-enquire-sub-close" href="#">Back to main menu</a>
					<div class="row">
						<div class="sub-navigation-section">
							<div class="title">Welcome, ABC</div>
							<ul class="sub-navigation-list">
								<li><a href="/app/page/account-profile/account-profile.html">Account Profile</a></li>
								<li><a href="/app/page/manage-card/manage-card.html">Manage Credit Card</a></li>
								<li><a href="/app/page/login/password-reset.html">Change Password</a></li>
								<li><a href="/app/page/manage-users/manage-users.html">My Company</a></li>
								<li><a href="/sf/businessPoint_LA/en/USD/contactUs">Contact Us</a></li>
								<li><a href="/sf/businessPoint_LA/en/USD/logout">Log Out</a></li>
							</ul>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</nav>
</div>
