<div class="row">
    <div class="col-xs-24 xs-ml-5">
        <span class="sub-heading-thin">{{globalVars.cmpnyInfoSummary}}</span>
    </div>
</div>
<div class="row">
    <div class="col-xs-24">
        <div class="xs-mt-10 col-md-10 col-xs-24">
            <label><strong>{{globalVars.company}}</strong></label>
            <p class="xs-mt-0">{{summary.company}}</p>
        </div>
   </div>
</div>