<div class="row xs-mb-0">
    <div class="col-xs-24 col-sm-4 xs-mb-15 xs-ml-0">
        <div>
            <label>{{globalVars.effectiveDate}}</label>
        </div>
        <div class="xs-mt-0">
            <span>{{CBPOrderForm.effectiveDate}}</span>
        </div>
    </div>
     <div class="col-xs-24 col-sm-8 xs-ml-0">
        <div>
            <label>{{globalVars.effectiveTime}}</label>
        </div>
        <div class="xs-mt-0">
            <span>{{CBPOrderForm.effectiveTime}}</span>
        </div>
    </div>
</div>
