<div class="col-xs-24 xs-pl-0 xs-mt-10 hidden-print">
  <div class="col-md-12 hidden-xs" style="margin-top:-4px;">
    <button id="downloadBtn" class="btn btn-default hidden-xs hidden-sm hidden-md js-downloadBtn" data-name="Order-siteoperation_download-button" href="javascript:void(0);">
            <i class="fa fa-download xs-pr-5" aria-hidden="true"></i> {{globalVars.download}}</button>
    <button id="printBtn" class="btn btn-default hidden-xs hidden-sm hidden-md js-printBtn xs-ml-10" data-name="siteoperation_print-button" href="javascript:void(0);">
            <i class="fa fa-print xs-pr-5" aria-hidden="true"></i> {{globalVars.print}}</button>
  </div>
  <div class="col-md-12 col-xs-24">
    <div class="row">
      <div class="col-xs-24">
        <div class="js-sortbyDdn form-group pull-right">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row tableContainer">
  <div class="col-xs-24 xs-mt-10">
    <table id="table"></table>
  </div>
</div>
<div class="row xs-mt-10 xs-ml-5">
  <button id="backBtn" class="btn btn-default js-backBtn" data-name="siteoperation_back-button"
    href="javascript:void(0);">
    <i class="fa" aria-hidden="true"></i> {{globalVars.back}}</button>
</div>