<div class="row">
    <div class="col-xs-24  xs-ml-5">
        <div>
            <label>{{globalVars.soldTo}}</label>
        </div>

        <div class="xs-pt-0 xs-mb-15 sm-mb-0">
            <span>{{siteOperatingDetailResponse.soldTo.displayName}}</span>
        </div>
    </div>

    <div class="col-xs-24  xs-mt-15 xs-ml-5">
        <div>
            <label>{{globalVars.sitetb}}</label>
        </div>
        <div class="xs-pt-0">
            <span>{{siteOperatingDetailResponse.site.displayName}}</span>
        </div>
    </div>

    <div class="col-xs-24 col-sm-24">
        <hr/>
    </div>

    <div class="col-xs-24 col-sm-24  xs-ml-5 xs-mt-15 note-data">
        <span>
            <strong>Note: </strong>Data based on the first and last credit card transactions at a site.</span>
    </div>
</div>