<div class="row tableContainer volume-detail-table md-pt-15">
    <div class="col-xs-24">
        <table id="table"></table>
    </div>
    <div class="col-xs-24 xs-mt-20 volumeReturnView">
      <a class="volume-return-view" href="#">{{globalVars.volumeReturnView}}</a>
    </div>
</div>
