<div class='js-location-ddn form-group'></div>
<div class='js-site-ddn form-group'></div>
<div class='js-volume-descrepency-ddn form-group'></div>
<div class="form-group xs-pt-20">
    <button type="button" class="btn btn-primary btn-block" id="miipSiteSearch" name="button">{{globalVars.searchTxt}}</button>
</div>
