<div class="row  bg-summary topSummaryLeftSection">
    <div class="col-xs-24">
        <span class="sub-heading">{{globalVars.mrDetailsHeading}}</span>
    </div>
</div>
<div class="row xs-mt-10">
    <div class="col-md-8 col-xs-24 md-mr-40 md-pb-0 xs-pb-10">
        <div class="js-parent-sold-to-dropDown form-group">
        </div>
    </div>
</div>

<div class="row xs-mt-10">
    <div class="col-md-4 col-xs-24 md-mr-40 md-pb-0 xs-pb-10">
        <label><strong>{{globalVars.mrCompanyName1Label}}</strong></label>
        <br/>
         <input type="text" name="lastname" class="mr-company-label">
    </div>
    <div class="col-md-4 col-xs-24 md-mr-40 md-pb-0 xs-pb-10">
      <label><strong>{{globalVars.mrCompanyName2Label}}</strong></label>
      <br/>
       <input type="text" name="lastname" class="mr-company-label">
    </div>
</div>

<div class="row xs-mt-10">
    <div class="col-md-3 col-xs-24 md-mr-40 md-pb-0 xs-pb-10">
      <div class="js-status-dropDown form-group">
      </div>
    </div>

</div>
