.add-new-mr-company {
  .fixed-table-container{
    .bs-checkbox{
      .th-inner{
        padding: 0 0 !important;
      }
    }
    tbody{
      .selected td{
      background-color: transparent;
      }
      td{
        &.bs-checkbox.fa{
          margin-left: 10px;
          padding-top: 5px !important;
          font-size: 16px;
        }
      }
      tr.bg-danger{
        background-color: #F7E8E9 !important;
      }
    }
    thead{
      tr{
        background-color: @brand-primary;
        th.bs-checkbox.fa{
          width: 55px!important;
          input[type="checkbox"]:before{
            font-size: 16px;
            color:#fff;
          }
        }
      }
    }
  }

  .sub-heading {
    font-weight: normal;
  }
  .page-title {
    text-transform: none;
  }
  .mr-company-label {
    width: 75%;
  }
  .prog-return-view {
    color: @brand-primary;
  }
  .amount-paid-column {
    padding-right: 200px !important;
  }
  input[type="checkbox"] {
     -webkit-appearance:none;/* Hides the default checkbox style */
     &:focus{
       outline:none;
     }
     &:before {
      text-align:center;
      content: '\f096';
     }
     &:checked{
       &::before{
         color: @brand-primary;
         content: '\f046';
       }
    }
  }
}

@media (max-width: @screen-xs) {
  .add-new-mr-company  {
    .fixed-table-body  {
      .card-view .title {
        word-wrap: break-word;
        width: 50% !important;
        min-width: 40%;
      }
      .card-view .value {
        width: 50% !important;
      }
    }
  }
}

@media (max-width: @screen-xs) {
  .add-new-mr-company  {
    .js-sortbyDdn.form-group {
      float: right !important;
      .bootstrap-select {
        width: auto !important;
      }
    }
  }
}
